@import url(https://fonts.googleapis.com/css?family=Abel);
body {
  background-color: rgb(110, 35, 101), 29, 172);
  color: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'Abel', 'Helvetica', 'sans-serif';
}

.nav {
  height: 1em;
  float: right;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.nav img {
  width: 50px;
}
.wrapper {
  margin-top: 10em;
  margin-bottom: 10em;
  margin-left: 2em;
}
a {
  color: #333;
  text-decoration: none;
}

.links a {
  font-size: 2em;
  padding-right: 2em;
}

h2 {
  font-size: 24pt;
}
h3 {
  font-size: 18pt;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.row {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
blockquote {
  border-left-style: solid;
  border-left-width: 0.2em;
  border-left-color: #efefef;
  padding-left: 1em;
  margin: 0;
}
#chart {
  display: block;
  position: fixed;
  width: 320px;
  right: 10em;
  bottom: 0;
}

.links {
  margin: 30px 0;
}


@media screen and (max-width: 480px) {
  {
    margin-right: 0.4em;
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #chart {
    display: none;
    visibility: hidden;
  }
  svg {
    display: none;
    visibility: hidden;
  }
}
@media screen and (min-width: 1600px) {
  {
    margin-right: 0.4em;
  }
  h2 {
    font-size: 32pt;
  }
  h3 {
    font-size: 24pt;
  }
  p {
    font-size: 16pt;
  }
}
